{% extends 'base.html.twig' %}

    {% block title %}Профиль{% endblock %}

    {% block body %}
        <section class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
            <h1 class="text-3xl font-bold text-gray-900 mb-6">Профиль пользователя</h1>

            {% include 'profile/_tabs.html.twig' %}
            {% include 'profile/_form.html.twig' %}
        </section>
    {% endblock %}
