{% extends 'base.html.twig' %}

{% block title %}Карта билбордов{% endblock %}

{% block body %}
    <div id="map-app">
        <div id="initial-spinner">
            <div class="spinner"></div>
            <p>Загрузка карты...</p>
        </div>
    </div>
{% endblock %}
